@import "../components/font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 72% 51%;
        --primary-foreground: 0 85.7% 97.3%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 72.2% 50.6%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 72.2% 50.6%;
        --primary-foreground: 0 85.7% 97.3%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 72.2% 50.6%;
    }
}


@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground text-right;
        direction: rtl !important;
    }

    svg {
        @apply w-7 h-7
    }

    h1 {
        @apply text-3xl
    }

    h2 {
        @apply text-2xl
    }

    h3 {
        @apply text-xl
    }

    h4 {
        @apply text-lg
    }

    h5 {
        @apply text-lg
    }

    h6 {
        @apply text-lg
    }

    sub, sup {
        font-size: unset;
        line-height: unset;
        position: unset;
        vertical-align: unset;
    }
}

/*
** html content style
*/

.html_content {
    @apply leading-8
}

/*
** html content style
*/

.react-multi-carousel-item > div {
    @apply h-full
}

.react-multiple-carousel__arrow--right::before, .react-multiple-carousel__arrow--left::before {
    content: unset !important;
}

.react-multiple-carousel__arrow {
    @apply bg-white shadow-2xl w-1 border-solid border border-gray-300 !important
}

.react-multiple-carousel__arrow button svg {
    @apply text-red-500 !important
}

.react-multiple-carousel__arrow--right {
    @apply right-0.5 !important
}

.react-multiple-carousel__arrow--left {
    @apply left-0.5 !important
}

/*react multi carousel */

.ant-input:hover {
    @apply bg-white border-0 !important
}

.search-input span input {
    @apply pb-2 !important
}

/*category-section-card*/
.category-section-card {
    @apply flex flex-row !important
}

.category-section-card div {
    @apply bg-white p-5 m-5 h-48 w-48 rounded-lg !important
}

.category-section-card div svg {
    @apply text-neutral-700 h-full w-full  !important
}


.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    @apply bg-red-500 text-red-50;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}